<div class="container">
    <h2 >PRODUTOS</h2>          
    <table class="table table-hover mt-4">
      
        <tr>
          <th>Código do Produto</th>
          <th>Nome do Produto</th>
          <th>Valor do Produto</th>
        </tr>
      
      <tbody>
        <td> <input class="form-control input-md" type="text" placeholder="codigo produto" name="codigo" [(ngModel)]="produto.codigo"></td>
        <td> <input class="form-control input-md" type="text" placeholder="nome produto" name="nome" [(ngModel)]="produto.nome"></td>
        <td> <input class="form-control input-md" type="number" placeholder="valor produto" name="valor" [(ngModel)]="produto.valor"></td>
        <td> <button class="btn btn-success ml-3" (click)="create()">Salvar</button>
          <button class="btn btn-info m-lg-2" (click)="update()">Atualizar</button>
        </td>
        <tr *ngFor="let produto of produtos">
          
          <td>{{produto.codigo}}</td>
          <td>{{produto.nome}}</td>
          <td>{{produto.valor | currency: "BRL"}}</td>

          <button class="btn btn-danger conainter ml-4 col-6" (click)="delete(produto.codigo)">Excluir</button>

        </tr>
        
      </tbody>
    </table>
  </div>