<div class="menu">
    <div class=btn>
        <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Cadastra Pedido</a>
        <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Cadastrar Produto</a>
    </div>
</div>
<div class="menu">
    <div class=btn>
        <a href="/pedido/lista" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Listar Pedidos</a>
        <a href="/produto/lista" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Listar Produtos</a>
    </div>
</div>