<div class="menu">
   <nav>
        <ul>
            <li><a href="/pedido/create" class="btn btn-lg active text-uppercase font-weight-bold" role="button" aria-pressed="true">Criar Pedido</a></li>
            <li><a href="/pedido/lista" class="btn btn-lg active text-uppercase font-weight-bold" role="button" aria-pressed="true">Pedidos</a></li>
            <li><a href="/produto/lista" class="btn btn-lg active text-uppercase font-weight-bold" role="button" aria-pressed="true">Produtos</a></li>
        </ul>
      </nav>
</div>
