<h2>Cadastrar Pedido</h2>

<form class="form-horizontal">
    <fieldset>
    
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Mesa</label>  
      <div class="col-md-4">
      <input id="textinput" name="textinput" type="text" placeholder="numero da mesa" class="form-control input-md" required="">
        
      </div>
    </div>
    
    <!-- Select Basic -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="selectbasic">Status</label>
      <div class="col-md-4">
        <select id="selectbasic" name="selectbasic" class="form-control">
          <option value="ABERTA">ABERTA</option>
          <option value="FECHADA">FECHADA</option>
        </select>
      </div>
    </div>

    <div class="form-group">
        <label class="col-md-4 control-label" for="cadastrar-btn"></label>
        <div class="col-md-4">
          <button id="cadastrar-btn" name="cadastrar-btn" class="btn btn-primary">Cadastrar</button>
        </div>
      </div>
    
    </fieldset>
</form>