<h2>Cadastrar Pedido</h2>

<form class="form-horizontal">
    <fieldset>
    
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Mesa</label>  
      <div class="col-md-4">
      <input id="textinput" name="textinput" type="text" placeholder="numero da mesa" class="form-control input-md" required="">
        
      </div>
    </div>
    
    <div class="form-group">
        <label class="col-md-4 control-label" for="status">Status</label>
        <div class="col-md-4">
        <div class="radio">
          <label for="status-0">
            <input type="radio" name="status" id="status-0" value="ABERTA" checked="checked">
            ABERTA
          </label>
          </div>
        <div class="radio">
          <label for="status-1">
            <input type="radio" name="status" id="status-1" value="FECHADA">
            FECHADA
          </label>
          </div>
        </div>
      </div>

    <div class="form-group">
        <label class="col-md-4 control-label" for="cadastrar-btn"></label>
        <div class="col-md-4">
          <button id="cadastrar-btn" name="cadastrar-btn" class="btn btn-primary">Cadastrar</button>
        </div>
      </div>
    
    </fieldset>
</form>