<h2>Cadastrar Produto</h2> 

<form class="form-horizontal">
    <fieldset>
    
    <div class="form-group">
        <label class="col-md-4 control-label" for="selectbasic">Código do Produto</label>
        <div class="col-md-4">
            <select id="selectbasic" name="selectbasic" class="form-control">
            <option value="1">COD 1</option>
            <option value="2">COD 2</option>
            </select>
        </div>
        </div>

    <div class="form-group">
        <label class="col-md-4 control-label" for="nomeCodProd">Nome do Produto</label>
        <div class="col-md-4">
            <div class="input-group">
            <input id="nomeCodProd" name="nomeCodProd" class="form-control" placeholder="insira o nome do produto" type="text" required="">
            <div class="input-group-btn">
                <select id="selectbasic" name="selectbasic" class="form-control">
                    <option value="1">COD 1</option>
                    <option value="2">COD 2</option>
                </select>
            </div>
            </div>
        </div>
        </div>

   <!--NOME PRODUTO SEM DROPDOWN <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Nome do Produto</label>  
      <div class="col-md-5">
      <input id="textinput" name="textinput" type="text" placeholder="nome do produto" class="form-control input-md" required="">
        
      </div>
    </div> -->
    
    <div class="form-group">
    <label class="col-md-4 control-label" for="prependedtext">Valor do Produto</label>
      <div class="col-md-4">
        <div class="input-group">
          <span class="input-group-addon font-weight-bolder"> R$ </span>
          <input id="prependedtext" name="prependedtext" class="form-control" placeholder="valor do produto" type="text" required="">
        </div>
        
      </div>
    </div>

    <div class="form-group">
        <label class="col-md-4 control-label" for="cadastrar-btn"></label>
        <div class="col-md-4">
          <button id="cadastrar-btn" name="cadastrar-btn" class="btn btn-primary">Cadastrar</button>
        </div>
      </div>
      
    
    </fieldset>
    </form>
    